/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-figma-embed-block {

	iframe {
		border: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&.is-landscape {
		width: 100%;
		padding-top: calc(2/3 * 100%);
	}

	&.is-square {
		width: 100%;
		padding-top: 100%;
	}

}

// square is 1:1
// landscape is 3:2
// and portrait is 2:3
