/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.figma-embed-block {
	position: relative;

	&--landscape {
		width: 100%;
		padding-top: calc(2/3 * 100%);
	}

	&--portrait {
		width: 100%;
		padding-top: calc(3/2 * 100%);
	}

	&--square {
		width: 100%;
		padding-top: 100%;
	}

	&__embed {
		border: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

}
